<p id="notice"><%= notice %></p>

<p>
  <b>ID:</b>
  <%= @provider.id %>
</p>

<p>
  <b>Дата начала сотрудничества:</b>
  <%= @provider.d_start_cooperation %>
</p>

<p>
  <b>Название:</b>
  <%= @provider.name %>
</p>

<p>
  <b>Адрес:</b>
  <%= @provider.address %>
</p>

<p>
  <b>Телефон:</b>
  <%= @provider.phone %>
</p>

<p>
  <b>Номер платёжного счёта:</b>
  <%= @provider.payment_account %>
</p>

<%= link_to 'Редактировать', edit_provider_path(@provider) %> |
<%= link_to 'Назад', providers_path %>
