<h1>Список типов блюд</h1>

<% if @dish_types.blank? %>
    <div>
      Типы блюд отсутствуют
    </div>
<% else %>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Название</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @dish_types.each do |dish_type| %>
          <tr>
            <td><%= dish_type.id %></td>
            <td><%= dish_type.name %></td>
            <td><%= link_to 'Показать', dish_type %></td>
            <td><%= link_to 'Редактировать', edit_dish_type_path(dish_type) %></td>
            <td><%= link_to 'Удалить', dish_type, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
<% end %>
<br>

<%= link_to 'Новый тип блюда', new_dish_type_path %>

<br/><br/>

<%= link_to '<-На главную', root_url %>