<p id="notice"><%= notice %></p>

<p>
  <b>ID:</b>
  <%= @client.id %>
</p>

<p>
  <b>Фамилия:</b>
  <%= @client.last_name %>
</p>

<p>
  <b>Имя:</b>
  <%= @client.first_name %>
</p>

<p>
  <b>Отчество:</b>
  <%= @client.patronymic_name %>
</p>

<p>
  <b>Телефон:</b>
  <%= @client.contact_phone %>
</p>


<%= link_to 'Редактировать', edit_client_path(@client) %> |
<%= link_to 'Назад', clients_path %>
