<%= form_for(@supply) do |f| %>
  <% if @supply.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@supply.errors.count, "error") %> prohibited this supply from being saved:</h2>

      <ul>
      <% @supply.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <b>Поставщик:</b><br />
    <%= f.select :provider_id, options_from_collection_for_select(Provider.all, :id, :name) %>
  </div>

  <div class="field">
    <b>Продукт:</b><br />
    <%= f.select :foodstuff_id, options_from_collection_for_select(Foodstuff.all, :id, :name) %>
  </div>

  <div class="field">
    <b>Дата доставки:</b><br />
    <%= f.date_select :d_delivery %>
  </div>

  <div class="field">
    <b>Количество:</b><br />
    <%= f.number_field :amount %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
