<h1>Список должностей</h1>

<% if @appointments.blank? %>
    <div>
      Должности отсутствуют
    </div>
<% else %>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Название</th>
          <th>Зарплата</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @appointments.each do |appointment| %>
          <tr>
            <td><%= appointment.id %></td>
            <td><%= appointment.name %></td>
            <td><%= appointment.salary %></td>
            <td><%= link_to 'Показать', appointment %></td>
            <td><%= link_to 'Редактировать', edit_appointment_path(appointment) %></td>
            <td><%= link_to 'Удалить', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
<% end %>

<br>

<%= link_to 'Новая должность', new_appointment_path %>

<br/><br/>

<%= link_to '<-На главную', root_url %>